extends layout

block content
  script(src='/javascripts/rating/bowser.js')
  script(src='/javascripts/rating/draw.js')
  .container
    .row
      .col-md-2
      .col-md-1
      .col-md-2
        p#contest Contest #1
      .col-md-1
      .col-md-2
        p#rating Rating #0
    .row
      .col-md-2
      .col-md-1
        ul.rank
          - for(var i = 1 ; i <= teamName.length ; ++i)
            li #{i}
      .col-md-2
        ul.list
          - for(var i = 0 ; i < teamName.length ; ++i)
            li #{teamName[i]}
        button.btn.btn-default(onclick="solve();") 根据排名计算积分
      .col-md-1
      .col-md-2
        ul.team
          - for(var i = 0 ; i < teamName.length ; ++i)
            li #{teamName[i]}
        button.btn.btn-default(onclick="drawRating(series);") 统计图表
      .col-md-2
        ul.rating
          - for(var i = 0 ; i < teamName.length ; ++i)
            li #{1000}
        button.btn.btn-default(onclick="showNow();") 重置为当前积分
        a.btn(href="/excel/Rating.xlsx" download="Rating.xlsx") 当前rating.xlsx
    .row
      .col-md-12
        #panel
  script.
    $('.list').sortable()
