doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    script(src='/javascripts/jquery-2.1.1.min.js')
    script(src='/javascripts/jquery.sortable.js')
    script(src='/javascripts/rating/main.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    block content
